.component {
}

.component :global(.ant-modal-title) {
    text-align: center;
    font-size: 21px !important;
    font-weight: 600;
    font-family: 'Noto Sans', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Muli', sans-serif; */
    /* font-family: 'Fira Sans', sans-serif; */
    /* font-family: 'Quicksand', sans-serif; */
    /* font-family: 'Cabin', sans-serif; */
    letter-spacing: -0.75px;
}

.component :global(.ant-btn) {
    text-align: center;
    font-size: 14px !important;
    font-weight: 600;
    font-family: 'Noto Sans', sans-serif;
}


.wobblehorbottom {
animation: wobblehorbottom 0.6s both;
}

@keyframes wobblehorbottom {
0%,
100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
}
15% {
    transform: translateX(-30px) rotate(-6deg);
}
30% {
    transform: translateX(15px) rotate(6deg);
}
45% {
    transform: translateX(-15px) rotate(-3.6deg);
}
60% {
    transform: translateX(9px) rotate(2.4deg);
}
75% {
    transform: translateX(-6px) rotate(-1.2deg);
}
}

