.component {
    width: calc(100% - 10px);
    padding-bottom: 5px;
}

.component :global(.ant-card) {
    border-radius: 4px !important;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.card :global(.ant-card-body) {
    padding: 8px !important;
    padding-top: 12px !important;
}

.title {
    font-size: 14px !important;
    font-weight: 600;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: -0.4px;
    width: 100%;
    padding-left: 10px;
    -webkit-font-smoothing: antialiased !important;
    color: #292d26;
}

.subTitle {
    font-size: 12px !important;
    font-weight: 500;
    letter-spacing: .2px;
    width: 100%;
    padding-left: 10px;
    -webkit-font-smoothing: antialiased !important;
    font-family: 'Poppins', sans-serif;
    color: #676767;
}

.prefix {
    text-transform: uppercase;
    font-size: 10px !important;
    font-weight: 600;
    letter-spacing: .2px;
    width: 100%;
    padding-left: 10px;
    -webkit-font-smoothing: antialiased !important;
    font-family: 'Poppins', sans-serif;
    color: #096dd9;
    margin-bottom: -3px;
    padding-bottom: 5px;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 12px !important;
    background-color: #ffffff !important;
    padding: 0px !important;

}

.component :global(.ant-collapse-arrow) {
    /*text-align: center;*/
    /*position: absolute;*/
    /*left: calc(50% - 7px) !important;*/
}

.collapsible {
    transition: all 0.5s ease-out !important;
}

.button {
    border-radius: 0px !important;
}

.buttonHolder {
    padding: 4px !important;
}

.tabs * {
    font-family: 'Noto Sans', sans-serif;
    font-size: 11px !important;
}

.tabs :global(.ant-tabs-tab) {
    height: 30px !important;
    line-height: 30px !important;
}

.tabs :global(.ant-tabs-bar) {
    margin-bottom: 0px !important;
}

.tabs :global(.ant-tabs-nav-container) {
    height: 30px !important;
}

.tabs :global(.ant-tabs-tabpane) {
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
}

.panel {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.well {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.wellTitle {
    font-size: 12px !important;
    font-weight: 600;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: -0.4px;
    width: 100%;
    padding-left: 10px;
    -webkit-font-smoothing: antialiased !important;
    color: #096dd9;
}

.component :global(.ant-select-selection__choice) {
    user-select: none !important;
    width: 313px !important;
    text-align: center !important;
}

.component :global(.ant-collapse-header) {
    font-family: 'Noto Sans', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Muli', sans-serif; */
    /* font-family: 'Fira Sans', sans-serif; */
    /* font-family: 'Quicksand', sans-serif; */
    /* font-family: 'Cabin', sans-serif; */
    font-size: 13px !important;
    font-weight: 600;
    text-transform: uppercase;
}
